<div class="layout">

  <!-- SIDEBAR -->
  <ul>
    <button (click)="logout()">Cerrar sesión</button>
    <h3>Bases De Datos</h3>
    <li *ngFor="let db of databases">

      <!-- DB -->
      <div (click)="toggleDB(db)" class="db-item">
        {{ db }}
      </div>

      <!-- TABLAS -->
      <ul *ngIf="dbExpandida === db">
        <li *ngFor="let t of tablasPorDB[db]">

          <!-- TABLA -->
          <div (click)="toggleTabla(db, t); $event.stopPropagation()" class="tabla-item">
            {{ t }}
          </div>

          <!-- COLUMNAS -->
          <ul *ngIf="tablaExpandida === t">
            <li *ngFor="let col of columnasPorTabla[t]" class="columna-item">
              {{ col }}
            </li>
          </ul>

        </li>
      </ul>

    </li>
  </ul>

  <!-- MAIN -->
  <div class="main">

    <div class="tabs">

      <div *ngFor="let tab of tabs" (click)="cambiarTab(tab.id)" [class.active]="tab.id === tabActivaId" class="tab">
        {{tab.nombre}}

       <span
       class="close-btn"
       (click)="cerrarTab(tab.id, $event)">
        X
      </span>


      </div>

      <div class="tab add" (click)="agregarTab()">
        +
      </div>

    </div>

    <!-- EDITOR -->
    <div class="editor">

      <textarea [(ngModel)]="sql" (keydown)="onKeyDown($event)" (input)="onInputChange()"></textarea>

      <div *ngIf="sugerencias.length > 0" class="suggestions">
        <div *ngFor="let s of sugerencias" (click)="insertarSugerencias(s)">
          {{ s }}
        </div>
      </div>

      <button (click)="ejecutar()">Run</button>
      <button (click)="guardarScript()">Guardar</button>

      <div *ngIf="errorMsg" class="error">
        {{ errorMsg }}
      </div>
    </div>

    <!-- RESULTADOS -->
    <div class="results">
      <table>
        <thead *ngIf="columnas.length > 0">
          <tr>
            <th *ngFor="let col of columnas">{{ col }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fila of resultados">
            <td *ngFor="let col of columnas">{{ fila[col] }}</td>
          </tr>

          <tr *ngIf="columnas.length > 0 && resultados.length === 0">
            <td [attr.colspan]="columnas.length" style="text-align:center;">
              Sin registros
            </td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="history">
      <h3>Historial</h3>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Time</th>
            <th>Action</th>
            <th>Message</th>
            <th>Duration</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let h of historial" (click)="sql = h.action">
            <td>{{ h.id }}</td>
            <td>{{ h.horaseg }}</td>
            <td class="action">{{ h.action}}</td>
            <td>{{ h.message}}</td>
            <td>{{h.time }}</td>
          </tr>
        </tbody>

      </table>
    </div>

  </div>

</div>